/*  navbar start */
.navbar {
    min-height: 60px;
    width: 100%;
}

.contanier {
    padding: 0 25px;
    max-width: 1350px;
    height: 100%;
    margin: 0 auto;

}

.navbar__flexbox {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar__left__text {
    width: 200px;
    font-size: 25px;
}


.navbar__menu{
    width:1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__left__menu__text {
    display: flex;
    gap: 20px;
    font-size: 21px;
max-width: 400px;
}

.navbar__right {
    height: 47px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 20px;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hidden__menu{
    height: 47px;
    min-width:  47px;
    border-radius: 6px;
    border: 1px solid black;
    padding: 12px 19px;
    display: none;
}
@media only screen and (max-width: 1240px) {
    .navbar__left__menu__text {
        display: none;
    }
    .navbar__right {
        display: none;
    }
    .hidden__menu{
        display: block;
    }
    .navbar__flexbox{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__menu{
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

/* navbar end */


/* shop start section */

.shop_section{
    min-height: 350px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
font-size: 40px;
}
.shop_section__text h1{
    font-size: 60px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.shop_section__text p{
    font-size: 29px;
    text-align: center;
    color: rgb(255 255 255 / 50%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* shop end  section */


/* cart section :start */
.cart_section{
    width: 100%;
    height: auto;
    padding: 40px 0;
    
}
.cart_section__flexbox{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}
.cart{
    min-height: 400px;
    width: 20%;
    border: 1px solid black;
    margin: 30px;
    border-radius: 8px;
}
.cart_section__img{

}
.cart_section__boxs__texts{
    margin-top: 15px;
    height: 130px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

.cart_section__boxs__texts h5{
    font-size: 24px;
    margin-bottom: 10px;

}
.cart_section__boxs__texts p{
font-size: 19px;

}
.cart_section i{
    color: rgb(255 193 7);
    margin-bottom:8px;

}
.cart_section__boxs__texts p del{
    color: #6c757d;
}
.add_to_cart{
    height: 45px;
    width: 120px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    font-size: 17px;
    
 


}
.add_to_cart:hover{
    background-color: black;
    color: white;
    transition: 500ms;
}
/* cart section end*/

/* footer :start */
.ended_section{
    width: 100%;
    height: auto;
    padding: 40px;
    background-color: rgb(33 37 41);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* footer end  */